<div class="text-center my-24">
  <h1 class="tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
    <span>Appointments Manager</span><br>
    <span class="text-indigo-600">For doctors and patinets</span>
  </h1>

  <p class="mt-5 mb-10 text-gray-500 sm:text-lg md:text-xl">Book and manage your appointments</p>

  <a href="<%= appointments_path %>" class="btn">Manage your appointmentss</a>
</div>
